/*COLORE*/

body{
	font-family: 'Roboto';
	padding-top: 80px;
}
.navbar-default{
	background:#27AD60;
}

.bg-kane {
	background:url('../img/carousel-bg.jpg');
	background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 500px;
	.text-bg {
		padding:4% 5%;
		text-align: center;
		color:white;
			h1 {
				font-size:4.4em;
				font-weight: normal;
				padding-bottom:8%;
			}
			p{
				font-size: 1.8em;
				font-weight: normal;
				line-height: 45px;
			}
	}
	
}
.color-palette{
	.row{
		margin:0 50px;
	}
	h1{
		font-size:4.4em;
		font-weight: normal;
	}
	hr{
		border-top: 1px solid #635E63;
		width: 18%;
		text-align: center;
		padding-top: 2%;
	}
}

@mixin height {
    height:150px;
    color:black;
    margin-bottom: 1%;
}
.color-palette{
	.col-md-2{
		@include height;
	}
}
.color-palette{
	.box-color1{
		background:#69D2E7;
	}
	.box-color2{
		background:#A7DBDB;
	}
	.box-color3{
		background:#E0E4CC;
	}
	.box-color4{
		background: #F38630;
	}
	.box-color5{
		background: #FA6900;
	}
	.box-color6{
		background: #E94C6F;
	}
	.box-color7{
		background: #542733;
	}
	.box-color8{
		background: #5A6A62;
	}
	.box-color9{
		background: #C6D5CD;
	}
	.box-color10{
		background: #FDF200;
	}
	.box-color11{
		background: #DB3340;
	}
	.box-color12{
		background: #E8B71A;
	}
	.box-color13{
		background: #F7EAC8;
	}
	.box-color14{
		background: #1FDA9A;
	}
	.box-color15{
		background: #28ABE3;
	}
	.box-color16{
		background: #588C73;
	}
	.box-color17{
		background: #F2E394;
	}
	.box-color18{
		background: #F2AE72;
	}
	.box-color19{
		background: #D96459;
	}
	.box-color20{
		background: #8C4646;
	}
	.box-color21{
		background: #D0C91F;
	}
	.box-color22{
		background: #85C4B9;
	}
	.box-color23{
		background: #008BBA;
	}
	.box-color24{
		background: #DF514C;
	}
	.box-color25{
		background: #DC403B;
	}
}
#about{
	background: #2C3E50;
	color:white;
	padding:5% 0;
	font-weight: normal;	
	h1{
		font-size:4.4em;
		font-weight: normal;
		text-align: center;
	}
	p{
		margin-bottom: 6%;
	}
	hr{
		border-top: 1px solid white;
		width: 18%;
		text-align: center;
		padding-top: 2%;
	}
	.bar-progre{
		padding-top: 15%;
		.progress{
			background-color:#DCD5D5;
			border: 1px solid #DCD5D5;
	  		border-radius: 0;
	    	height: 8px;
	    	margin-bottom: 3px;
		}
		.progress-bar{
			background-color:#E67E22;
		}
	}
	
	img{
		width: 100%;
	}
}
